@font-face {
    font-family: Montserrat-light;
    src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat-thin;
    src: url(../fonts/Montserrat-Thin.otf);
}

html,body {
    display: block;
    font-family:  Montserrat-light;
    padding: 0;
    margin: 0;
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -100px;
}

.page-wrap:after {
    content: "";
    display: block;
}

#footer, .page-wrap:after {
    height: 100px;
}

#menu {
    min-height: 70px;
    background: #426280;
    position: fixed;
    width: 100%;
    z-index: 10000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#menu_container {
    min-height: 70px;
    overflow: hidden;
}

#nav #navLogo img{
   width: 120px;
}

#nav {
    padding: 0;
    margin: 0;
    float: right;
    height: 70px;

}

#nav a {
    color: white;
    text-decoration: none;
    height: 100%
}

#nav li {
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    transition: background 0.5s ease;
    font-size: 0.9em;
}

#nav #navLogo {
    padding-top: 13px;
}

#nav #navLast {
    padding-top: 19px;
}

#nav #navLogo:hover {
    background: #426280;
    text-shadow: none;
}

#nav li:hover {
  background: #DBE3ED;
  text-shadow: 2px 2px 8px #333;
}

#header {
    min-height: 400px;
    background: url("../images/mountains_header.jpg");
    background-size: cover;
}

#gradient_white {
    min-height: 90px;
    position: absolute;
    margin-top: -90px;
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 12%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 12%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 12%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}



#logo {
   margin: 50px auto 10px auto;
   width: 800px;
   height: auto;
   display: block;
   padding-top: 40px;
}

#content {
    min-height: 300px;

}

#content p{

    line-height: 1.3em;

}

#content h2{
    font-family:  Montserrat-regular;
    /*color: #426280;*/
}

#content_container {
    min-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;


}

#menuIndexLan {
    display: none;

}

#images {
    background: #DBE3ED;
    padding-top: 20px;

}

#images_container{
    padding-top: 10px;
}

#images img {
    height: auto;
    width: 100%;
}

#footer {
    background: #426280;

}

#footer_container {
    padding-top: 25px;
}

.footer_column {
    color: #ffffff;

}


.footer_column a{
    color: #ffffff;
    text-decoration: none;
    margin: 0px 7px;
}

.footer_column a:hover{
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.76);
}


#FooterLinks{
    font-size: 0.9em;
}

#FooterLinks{
    text-align: right;
}

#FooterCopyright{
    text-align: left;
}

#FooterCopyright p{
    opacity: 0.8;
    font-size: 0.9em;
}
.pipeline{
    opacity: 0.5;
}



#gradient_black{
    width: 100%;
    height: 70px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d3d4+0,f2f2f2+57,f7f7f7+75,ffffff+100 */
    background: #d1d3d4; /* Old browsers */
    background: -moz-linear-gradient(top, #d1d3d4 0%, #f2f2f2 57%, #f7f7f7 75%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d1d3d4 0%,#f2f2f2 57%,#f7f7f7 75%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d1d3d4 0%,#f2f2f2 57%,#f7f7f7 75%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d3d4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#welcome{
    min-width: 100%;
    height: 100%;



}

#menuWelcome{
    display: none;
}

#menuIndex{
    position: absolute;
    margin-top: 250px;
    padding-bottom: 30px;
    min-height: 250px;
    background: rgba(66, 98, 128, 0.8);
    font-family:  Montserrat-light;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.17);
}

#welcomeLogo{
    margin-top: 5px;
    position: absolute;
    min-height: 50px;

}

#welcomeLogo img{
    display: block;
    margin: 0px auto 0px auto ;
   width: 350px;

}




#menuIndex ul #navWelcomeLigging
{
    display: block;
    float: right;
    width: 47%;
    margin-top: 0;

}


#menuIndex ul #navWelcomeContact
{

    display: block;
    float: left;
    width: 47%;
    margin-top: 0;

}

#menuIndex ul #navWelcomeContact li,
#menuIndex ul #navWelcomeLigging li,
#menuIndex ul #navWelcomeVW li
{


}

#menuIndex ul #navWelcomeContact li:hover,
#menuIndex ul #navWelcomeLigging li:hover,
#menuIndex ul #navWelcomeVW li:hover
{

   /* color: rgba(66, 98, 128, 1);
    background: rgba(66, 98, 128, 0.2);*/
}

#menuIndex ul {
    color: #ffffff;
    display: block;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

#menuIndex ul:nth-child(2) {
    color: #ffffff;
    display: block;
    padding: 0;
    margin-top: 0px;
}

#menuIndex ul:nth-child(1) li{
    font-family:  Montserrat-Thin;
}

#menuIndex ul a:first-child li{
   /*background: rgba(255, 255, 255, 0.6);*/
    color: #ffffff;
    font-family: Montserrat-light;
    border: 1px solid rgba(255, 255, 255, 1);
    transition: background-color 0.3s ease;
}

#menuIndex ul a:first-child li:hover{
    background: rgba(255, 255, 255, 1);
    color: #426280;


}


#menuIndex ul:nth-child(2) li{
    background: #fff;
    color: #426280;
}

#menuIndex ul li:hover{
    /*text-decoration: underline;*/

}

#menuIndex ul li{
    text-align: center;
    list-style-type: none;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 6px 0px 6px 0px;
    border-radius: 50px;
    background: rgba(66, 98, 128, 0.5);
   /* transition: background-color 0.5s ease;*/
}

#menuIndex ul a{
    text-decoration: none;
    color: #fff;
}

#btnSideBar {
    display: none;
}

#arrowIcon {
    display: block;
    width: 100px;
    height: auto;
    margin: 0px auto 30px auto;
    opacity: 0.5;
}




#languageBtns{
    margin: 210px auto 0px auto;
    width: 135px;
    min-height: 50px;
}

#languageBtns a{
    font-family: Montserrat-light;
    text-decoration: none;
    display: inline-block;
    color: #426280;
    padding: 10px 3px 10px 3px;
    border: 1px solid #426280;
    border-radius: 7px;
    margin-right: 1px;
    width: 20px;
    text-align: center;
    opacity: 0.5;
    font-size: 0.8em;
}

#languageBtns a:hover {
    opacity: 1;
    /*transition: opacity 1s ease-out;*/
}





#NFlink {
    margin-top: 20px;

}



.orange {
     color: #ff6600;
 }

.blue {
    color: #426280;
}

.black {
    color: #000;
}

.regular {
    font-family: Montserrat-regular;
}

.light {
    font-family: Montserrat-thin;
}

.medium {
    font-family: Montserrat-light;
}


.contentList {
    line-height: 1.2em;

}

.contentList li{
    list-style-type: circle;
    padding: 10px 0px 10px 0px;

}

.contentList li ul li{
    list-style-type: disc;

}

.contentList li ul {
    margin-top: 20px;

}

.algvwList {
    line-height: 1.5em;

}

.algvwList li{
    list-style-type: upper-roman;
    padding: 10px 0px 10px 0px;

}


#beleidImg img{
    display: block;
    margin: 0 auto;
    width: 50%;
    margin-bottom: 40px;
}

#historiekImg img{
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 40px;
}

.tableNF{

    border-collapse: collapse;
    padding-bottom: 40px;

}


.tableNF th,
.tableNF td{

    padding: 15px;
    border: 1px solid #426280;
}

.tableNF tr td p{
    margin: 0px;
 }

.tableNF tr td > a {



    color: rgba(255, 102, 0, 0.51);
    text-decoration: none;
    text-align: left;
    font-family: Montserrat-regular;
    transition: color 0.5s ease;
}

.tableNF tr td > a:hover {
    color: rgba(255, 102, 0, 1);

}

.tableNF tr td p a{

    color: #000;
    
}




/*TIMELINE*/

.tableTimelineHeader{


}

.tableTimelineHeader td{
    padding: 0;
    margin: 0;
}

.tableTimelineHeader td p{
    display: block;
    padding: 20px 0px 0px 0px;
    margin: 10px 0px -12px 0px;
    text-align: center;
    color: #426280;
}

#tableTimelineYear_row td p{
    text-align: center;
    color: #426280;

}

#tableTimelineYear_row td{
    border-top: 2px solid #426280;
    padding: 0px 5px;
}


#tableTimelineLastCell {
    padding: 0;
}

#tableTimelineLastCell img {
    width: 100%;

}


#tableTimelineDesc_row td p{
    vertical-align: top;
    text-align: center;
    font-size: 0.8em;

}

#tableTimelineDesc_row td{
    padding: 0px 5px;


}



.tableTimeline{
    border-collapse: collapse;
    border: none;
    margin-bottom: 80px;
    margin-top: 80px;
}

.tableTimeline tr{

    width: 100%;
}

.tableTimeline tr td{
    width: 10%;
}

.tableTimeline tr td p{

}

.tableTimeline tr td p a{

    color: #000;

}

.tableTimelineTitle{

}

.tableTimeline tr td h3{
    display: block;
  margin: 0;
    padding: 0;
}

/*TIMELINE END*/



.tableNFCapaciteit{
    border-collapse: collapse;
    margin-bottom: 50px;
    border: 1px solid #000;
}


.tableNFCapaciteit th,
.tableNFCapaciteit td{
  
    padding: 12px;
    border: 1px solid #426280;
}

.tableNFCapaciteit tr td p{
    margin: 2px;
}

.tableNFCapaciteit tr td p a{

    color: #000;

}






.tableMargin {
    margin-top: 30px;
}

.tableNFwidth{
    width: 50%;
}
.alignRight {
    text-align: right;
    vertical-align: text-top;
    padding-top: 30px;
}

.tableHeading{
    background: #426280;
    color: #ffffff;
    font-size: 1.2em;
}

.tableHeadingCapaciteit{
    color: #426280;
    font-size: 1em;
}

.PDFdownload{
    margin-top: -15px;
    margin-bottom: 50px;
}

.PDFdownload h4 a{
    color: #426280;
    padding-right: 5px;
    padding-left: 5px;
}
.link {
   color: #426280;
}
.infoPage{
    min-height: 50px;
    background: rgba(255, 102, 0, 0.07);
    padding: 20px;
    margin-bottom: 40px;
}

.closeBtn{
    display: block;
    opacity: 0.5;
}

.closeBtn img{
    width: 20px;
}

#northfreezeNV{
    display:none;
}

#nortrafficNV{
    display:none;
}


#nortrafficFS{
    display:none;
}

#northLinkNV{
    display:none;
}

#maps{
    min-height: 500px;
}

#tableNT{
    width: 48%;
    float: left;
}

#tableFS{
    width: 48%;
    float: right;
}

.center {
    text-align: center;
}

.organisation{
     display:inline-block;
     text-align: center;
     color: #ffffff;
     padding: 5px 10px;
     margin: 10px 0px 10px 0px;
    text-decoration: none;
     background: #426280;
     transition: background 0.5s ease;
     border-radius: 50px;
 }

.openBtn{
    display:inline-block;
    float: right;
    color: rgba(255, 102, 0, 1);
    padding: 5px 10px;
    margin: 10px 0px 10px 0px;
    text-decoration: none;
    border: 2px solid  rgba(255, 102, 0, 1);
    transition: background 0.5s ease;
    border-radius: 50px;
}

.openBtn:hover{
    color: #ffffff;
    background: rgba(255, 102, 0, 1);
}

.openBtn i{
    text-align: center;
    font-size: 1.6em;
}

.downspan{
    display: block;
    width: 100%;
}



/*  MENU  */


menu {
    display: none;
}

#logoResponsive{
    display: none;
}