@font-face {
	font-family: Montserrat-light;
	src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
	font-family: Montserrat-regular;
	src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
	font-family: Montserrat-thin;
	src: url(../fonts/Montserrat-Thin.otf);
}


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
  	min-height: 1px;

}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}



.push-right {
	float: right;
}


@media only screen and (min-width: 1180px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 1140px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	.col-1-3, .col-4-12 {
		width: 33.33%;
	}

	.col-1-2, .col-6-12 {
		width: 50%;
	}

	.push-1-3, .push-4-12 {
		margin-left: 33.33%;
	}

	.push-1-4, .push-3-12 {
		margin-left: 25%;
	}



    #footer{
        position: absolute;
        display: block;
        top: 0;
        background: rgba(66, 98, 128, 0);
        padding-top: 20px;
        margin-top: 170px;


    }

    #languageBtnsResponsive p{
        color: rgba(66, 98, 128, 0.5);
        text-align: center;
        font-size: 1em;

    }

    #languageBtnsResponsive p a{
        font-family: Montserrat-regular;
        color: rgba(66, 98, 128, 1);
        text-decoration: none;
        margin: 0px 8px;
    }
}



@media only screen and (max-width: 1180px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 960px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	.col-1-3, .col-4-12 {
		width: 33.33%;
	}

	.col-1-2, .col-6-12 {
		width: 50%;
	}

	.push-1-3, .push-4-12 {
		margin-left: 33.33%;
	}

	.push-1-4, .push-3-12 {
		margin-left: 25%;
	}



    #footer{
        position: absolute;
        display: block;
        top: 0;
        background: rgba(66, 98, 128, 0);
        padding-top: 20px;
        margin-top: 170px;


    }

    #languageBtnsResponsive p{
        color: rgba(66, 98, 128, 0.5);
        text-align: center;
        font-size: 1em;

    }

    #languageBtnsResponsive p a{
        font-family: Montserrat-regular;
        color: rgba(66, 98, 128, 1);
        text-decoration: none;
        margin: 0px 8px;
    }
}


@media only screen and (max-width: 1024px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 960px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	.col-1-3, .col-4-12 {
		width: 66.66%;
	}

	.push-1-3, .push-4-12 {
		margin-left: 16.667%;
	}


}




@media only screen and (max-width: 996px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 850px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	.col-1-3, .col-4-12 {
		width: 66.66%;
	}
}


@media only screen and (max-width: 890px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 748px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


/*
	#btnSideBar {
		display: block;
		list-style-type: none;
		position: relative;
		color: #ffffff;
		float: left;
		padding-top: 12px;
		visibility: visible;

	}

	#language{
		position: absolute;
		z-index: 100000;
		width: 50%;
		margin-left: 33.33%;
	}

*/


	/* SIDEBAR MENU*/

/*
	menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 100%;
		margin-top: 0;
		background: #d55401;
		box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
	}

	menu ul {
		margin: 0px 0px 0px -40px;
		padding: 0;
	}

	menu ul li {
		list-style-type: none;
	}

	menu ul li a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.3);
		margin: 0;
		padding: 20px 10px 20px 20px;
		color: #FFF;
		text-decoration: none;
		font-size: 1.3em;
	}

	menu li a:hover {
		background: #FFF;
		color: #d55401;
	}


	menu {
		-webkit-transform: translateX(-340px);
		-moz-transform: translateX(-340px);
		-ms-transform: translateX(-340px);
		transform: translateX(-340px);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.page-wrap{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.menu-active menu {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.menu-active .page-wrap{
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(100px);
		-moz-transform: translateX(100px);
		-ms-transform: translateX(100px);
		transform: translateX(100px);
	}
	*/


}

@media only screen and (max-width: 767px) {

	/* for mobile */
	.grid {
		width: 100%;
		max-width: 600px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	/* welcome page */

	#welcomeLogo{
		margin-top: 70px;

	}
	#welcomeLogo img{

		width: 500px;

	}

	#langResponsive{
		display: block;
	}

	#language{
		position: absolute;
		z-index: 100000;
		width: 50%;
		margin-left: 33.33%;
	}




	#goToIndex{
		display: block;
		margin-top: 370px;
		text-align: center;
	}

	#goToIndex p{
		font-size: 1.2em;
		font-family: Montserrat-light;
		color: rgba(66, 98, 128, 1);

	}

	#goToIndex a{
		display: block;
		width: 50%;
		color: #ffffff;
		text-decoration: none;
		border-radius: 100px;
		padding: 20px 15px;
		font-family: Montserrat-light;
		margin: 0 auto;
		font-size: 1.2em;
		background: rgba(66, 98, 128, 1);
	}


#footer{
    position: relative;
	display: block;
	background: rgba(66, 98, 128, 0);
	padding-top: 20px;
    margin-top: 0px;


}



	#languageBtnsResponsive p{
		color: rgba(66, 98, 128, 0.5);
		text-align: center;
		font-size: 1.3em;

	}

	#languageBtnsResponsive p a{
		font-family: Montserrat-regular;
		color: rgba(66, 98, 128, 1);
		text-decoration: none;
		margin: 0px 8px;
	}

	#btnSideBar {
		display: block;
		list-style-type: none;
		position: relative;
		color: #ffffff;
		float: left;
		padding-top: 12px;
		visibility: visible;

	}


	.col-1-2, .col-6-12 {
		width: 100%;
	}

	/* SIDEBAR MENU*/


	menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 100%;
		margin-top: 0;
		background: #d55401;
		box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
	}

	menu ul {
		margin: 0px 0px 0px -40px;
		padding: 0;
	}

	menu ul li {
		list-style-type: none;
	}

	menu ul li a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.3);
		margin: 0;
		padding: 15px 10px 15px 10px;
		color: #FFF;
		text-decoration: none;
		font-size: 1.2em;
	}

	menu ul li a:active {
		text-decoration: underline;
	}



	menu {
		-webkit-transform: translateX(-340px);
		-moz-transform: translateX(-340px);
		-ms-transform: translateX(-340px);
		transform: translateX(-340px);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.page-wrap,
	#footer{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.menu-active menu {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(110px);
		-moz-transform: translateX(110px);
		-ms-transform: translateX(110px);
		transform: translateX(110px);
	}


/* SIDEBAR MENU END*/




/* WELCOME PAGE */

	#menuWelcome {
		display: block;
		min-height: 70px;
		background: #426280;
		position: fixed;
		width: 100%;
		z-index: 10000;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	}

	#menuIndex{
		display: none;
	}


}


@media only screen and (max-width: 620px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 500px;
		min-width: 400px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* WELCOME PAGE */



	#goToIndex a{

		font-size: 1em;
	}


}

@media only screen and (max-width: 530px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 400px;
		min-width: 300px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* WELCOME PAGE */





	#welcomeLogo{
		margin-top: 100px;

	}
	#welcomeLogo img{

		width: 420px;

	}

	#goToIndex{

		margin-top: 350px;

	}

	#goToIndex a {
		padding: 20px 10px;
		width: 80%;

	}

	/* SIDEBAR MENU*/


	menu {

		width: 250px;

	}



	menu ul li a {

		padding: 15px 10px 15px 10px;

	}





	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		-ms-transform: translateX(60px);
		transform: translateX(60px);
	}


}


@media only screen and (max-width: 420px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 300px;
		min-width: 200px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* WELCOME PAGE */




	#welcomeLogo img{

		width: 380px;

	}

	#goToIndex{
		text-align: center;
		margin-top: 310px;



	}

	#goToIndex a{
		padding: 10px 5px;
		width: 80%;

		margin: 90px auto 0px auto;



	}

	#goToIndex p{
		font-size: 1.1em;

	}

	#languageBtnsResponsive p{
		color: rgba(66, 98, 128, 0.5);
		text-align: center;
		font-size: 1.1em;

	}

	/* SIDEBAR MENU*/

	.menu-active #btnSideBar{
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
	}

}


@media only screen and (max-width: 380px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 300px;
		min-width: 200px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* WELCOME PAGE */


	#welcomeLogo{
		margin-top: 80px;


	}

	#welcomeLogo img{

		width: 300px;

	}


	#goToIndex{
		text-align: center;
		margin-top: 250px;



	}

	#goToIndex a{
		padding: 10px 5px;
		width: 80%;
		margin: 70px auto 0px auto;



	}

	#goToIndex p{
		font-size: 1em;



	}

	#languageBtnsResponsive p{
		color: rgba(66, 98, 128, 0.5);
		text-align: center;
		font-size: 1.1em;

	}


/* SIDEBAR MENU */

	menu {

		width: 200px;


	}

	menu ul li a {
		font-size: 1em;
	}


	.menu-active #btnSideBar{
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}


}


@media only screen and (max-width: 300px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 250px;
		min-width: 100px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* WELCOME PAGE */

	#welcomeLogo img{
		margin-top: 50px;
		width: 280px;

	}


	/* SIDEBAR MENU */

	menu {

		width: 170px;
	}




	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(200px);
		-moz-transform: translateX(200px);
		-ms-transform: translateX(200px);
		transform: translateX(200px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}


}


/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}
/*
.col-1-2, .col-6-12 {
	width: 50%;
}*/
/*
.col-1-3, .col-4-12 {
	width: 33.33%;
}*/

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}
/*
.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}
*/
/*
.push-1-4, .push-3-12 {
	margin-left: 25%;
}
*/
.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}



