/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/

@font-face {
	font-family: Montserrat-light;
	src: url(../fonts/Montserrat-Light.otf);
}

@font-face {
	font-family: Montserrat-regular;
	src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
	font-family: Montserrat-thin;
	src: url(../fonts/Montserrat-Thin.otf);
}


[class*='grid'],
[class*='col-'],
[class*='mobile-'],
.grid:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class*='col-'] {
	float: left;
  	min-height: 1px;

}

[class*='col-'] [class*='col-']:last-child {
	padding-right: 0;
}



.push-right {
	float: right;
}


@media only screen and (min-width: 1180px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 1140px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	#languageBtnsHome{
		position: absolute;
		display: block;
		width: 100%;
		max-width: 1140px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 100px auto 0 auto;
		text-align: right;
		overflow: hidden;
		min-height: 50px;

	}


	#languageBtnsHome a{
		font-family: Montserrat-light;
		text-decoration: none;
		display: inline-block;
		color: #426280;
		padding: 10px 3px 10px 3px;
		border: 1px solid #426280;
		border-radius: 7px;
		margin-right: 1px;
		width: 20px;
		text-align: center;
		opacity: 0.5;
		font-size: 0.8em;
	}



}



@media only screen and (max-width: 1180px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 960px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	#languageBtnsHome{
		position: absolute;
		display: block;
		width: 100%;
		max-width: 960px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 100px auto 0 auto;
		text-align: right;
		overflow: hidden;
		min-height: 50px;
	}

	#languageBtnsHome a{
		font-family: Montserrat-light;
		text-decoration: none;
		display: inline-block;
		color: #426280;
		padding: 10px 3px 10px 3px;
		border: 1px solid #426280;
		border-radius: 7px;
		margin-right: 1px;
		width: 20px;
		text-align: center;
		opacity: 0.5;
		font-size: 0.8em;
	}


	/* MAIN PAGE */

	#nav li {
		font-size: 0.8em;
	}

	#FooterCopyright p{
		font-size: 0.8em;
	}

	#FooterLinks p{
		font-size: 0.9em;
	}

 #FooterCopyright{
	 width: 40%;
 }

	#FooterLinks{
		width: 60%;
	}

}


@media only screen and (max-width: 1024px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 960px;
		min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	#languageBtnsHome{
		max-width: 960px;
		min-width: 748px;
	}

}




@media only screen and (max-width: 996px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 850px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	#languageBtnsHome{
		max-width: 850px;
		min-width: 500px;
	}

	/* MAIN PAGE */

	#nav li {

		font-size: 0.7em;
	}

	#images img {
		max-height: 550px;
		width: 100%;

	}


}


@media only screen and (max-width: 890px) {
	/* for desktop */
	.grid {
		width: 100%;
		max-width: 748px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	#nav {
		display: none;
	}


	#menu_container{
		text-align: center;
	}

	#btnSideBar {
		display: block;
		list-style-type: none;
		position: relative;
		color: #ffffff;
		float: left;
		padding-top: 12px;
		visibility: visible;

	}

	.tableNF{
		font-size: 0.9em;
	}



	#header{
		display: none;
	}

	#language{
		display: none;
	}

	#languageBtnsResponsive{
		text-align: center;


	}

	#languageBtnsResponsive p{


	}



	#languageBtnsResponsive p a{
		display: inline-block;
		margin: 10px 15px;
		text-decoration: none;
		opacity: 0.5;
		border: none;
		padding: 0;
	}






	.tableNFCapaciteit{
		font-size: 0.9em;
	}


	.tableNFCapaciteit th,
	.tableNFCapaciteit td{

		padding: 5px;
	}

	.tableNFCapaciteit tr td p{
		margin: 1px;
	}




	.tableHeadingCapaciteit{

		font-size: 0.9em;
	}






	#FooterCopyright {
		position: absolute;
		width: 100%;
		text-align: center;
		height: 40px;
		bottom: 15px;
		right: 0;
		left: 0;
		margin: 0 auto;

	}

	#FooterLinks {
		position: absolute;
		width: 100%;
		top: 15px;
		right: 0;
		left: 0;
		text-align: center;
		margin: 0 auto;
		height: 40px;

	}


	#FooterLinks p{
		font-size: 1em;
	}

	#footer_container {
		padding-top: 10px;

	}

	.footer_column a:active{

		border-bottom: 1px solid rgba(255, 255, 255, 0.76);
	}

	.footer_column a:hover{

		border-bottom: none;
	}




	/* SIDEBAR MENU*/



	menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 100%;
		margin-top: 0;
		background: #d55401;
		box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
	}

	menu ul {
		margin: 0px 0px 0px -40px;
		padding: 0;
	}

	menu ul li {
		list-style-type: none;
	}

	menu ul li a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.3);
		margin: 0;
		padding: 15px 10px 15px 10px;
		color: #FFF;
		text-decoration: none;
		font-size: 1.2em;
	}

	menu ul li a:active {
		text-decoration: underline;
	}


	#logoSidebar{
		text-align: center;
	}

	#logoSidebar a{
		padding: 10px 0px 5px 0px;
	}

	#logoSidebar img{
		width: 125px;

	}

	/*
        Aqui você esconde o menu para fora da tela
        O valor é exatamente a largura da sidebar
    */
	menu {
		-webkit-transform: translateX(-340px);
		-moz-transform: translateX(-340px);
		-ms-transform: translateX(-340px);
		transform: translateX(-340px);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}

	/*
        Essa é a posição original do HEADER e do MAIN
    */
	.page-wrap,
	#footer{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}

	/*
       Com a classe menu-active na tag HTML
    */
	.menu-active menu {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(110px);
		-moz-transform: translateX(110px);
		-ms-transform: translateX(110px);
		transform: translateX(110px);
	}


}

@media only screen and (max-width: 767px) {

	/* for mobile */
	.grid {
		width: 100%;
		max-width: 600px;
		min-width: 500px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	/* MAIN PAGE */

	.tableNF p i{
		display: none;
	}

	.tableNF p a{

	}

	.tableNF tr{
		font-size: 1em;
	}

	.tableMargin {
		margin-top: 10px;
	}


	/*TIMELINE*/



	#tableTimelineDesc_row td p{
		font-size: 0.6em;

	}


	.tableTimeline tr td h3{

	}



	/* SIDEBAR MENU*/


	menu {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 100%;
		margin-top: 0;
		background: #d55401;
		box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
	}

	menu ul {
		margin: 0px 0px 0px -40px;
		padding: 0;
	}

	menu ul li {
		list-style-type: none;
	}

	menu ul li a {
		display: block;
		border-bottom: 1px solid rgba(255,255,255,.3);
		margin: 0;
		padding: 15px 10px 15px 10px;
		color: #FFF;
		text-decoration: none;
		font-size: 1.2em;
	}




	menu {
		-webkit-transform: translateX(-340px);
		-moz-transform: translateX(-340px);
		-ms-transform: translateX(-340px);
		transform: translateX(-340px);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.page-wrap,
	#footer{
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: all .25s linear;
		-moz-transition: all .25s linear;
		-ms-transition: all .25s linear;
		transition: all .25s linear;
	}


	.menu-active menu {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(110px);
		-moz-transform: translateX(110px);
		-ms-transform: translateX(110px);
		transform: translateX(110px);
	}

}


@media only screen and (max-width: 620px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 500px;
		min-width: 400px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	#FooterCopyright p {
		display: none;
	}

	#FooterLinks {

		max-width: 500px;
		min-width: 400px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;



	}


	#beleidImg img{
		margin-top: 40px;
		width: 70%;

	}

	.tableTimeline{

		display: none;
	}


	.tableNF{

		font-size: 0.8em;
	}

	#maps{
		min-height: 300px;
	}


	#FooterLinks p a:last-child {
		display: block;
		width: 180px;
		margin: 5px auto;
	}

	#FooterLinks p span:last-of-type{
		display: none;
	}


}

@media only screen and (max-width: 530px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 400px;
		min-width: 300px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	#FooterLinks {

		max-width: 400px;
		min-width: 300px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;



	}
	/* MAIN PAGE */


	.tableNF{

		font-size: 0.75em;
	}

	.tableNF br{

		display: none;
	}

	.tableNF tr td > a{
	display: block;
		margin-top: 10px;
	}

	.tableNF th,
	.tableNF td{

		padding: 10px;

	}

	#tableNT{
		width: 100%;
		float: left;
	}

	#tableFS{
		width: 100%;
		float: right;
	}

	.tableMargin {
		margin-top: 5px;
	}




	.tableNFCapaciteit{
		font-size: 0.8em;
	}


	.tableNFCapaciteit th,
	.tableNFCapaciteit td{

		padding: 4px;
	}

	.tableNFCapaciteit tr td p {
		margin: 1px;
	}


	.tableHeadingCapaciteit{

		font-size: 0.8em;
	}



	/* SIDEBAR MENU*/


	menu {

		width: 250px;

	}

	menu ul li a {

		padding: 15px 10px 15px 10px;

	}

	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(220px);
		-moz-transform: translateX(220px);
		-ms-transform: translateX(220px);
		transform: translateX(220px);
	}

	.menu-active #btnSideBar {
		-webkit-transform: translateX(60px);
		-moz-transform: translateX(60px);
		-ms-transform: translateX(60px);
		transform: translateX(60px);
	}

}


@media only screen and (max-width: 420px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 300px;
		min-width: 200px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}


	/* MAIN PAGE */

	.tableNFCapaciteit{
		font-size: 0.6em;
		margin-bottom: 20px;
	}


	.tableNFCapaciteit th,
	.tableNFCapaciteit td{

		padding: 1px;
	}

	.tableNFCapaciteit tr td p {
		margin: 1px;
	}


	.tableHeadingCapaciteit{
text-transform: lowercase;
		font-size: 0.6em;
	}






	#beleidImg img{
		width: 90%;

	}


	.tableNF{

		font-size: 0.65em;
		margin-bottom: 30px;
	}

	.alignRight {
		text-align: left;
		vertical-align: text-top;
		padding-top: 0px;
	}

	.tableNF th,
	.tableNF td{
		padding: 5px;
	}


	#FooterLinks {

		 max-width: 300px;
		 min-width: 200px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		 margin: 5px auto;
	 }

	#FooterLinks p span{
		display: none;
	}

	#FooterLinks p a{
		display: block;
		width: 100%;
	}

	.footer_column a{
		margin: 7px 0px;
	}


	.page-wrap {
		min-height: 100%;
		margin-bottom: -180px;
	}




	#footer, .page-wrap:after {
		height: 180px;
	}

	/* SIDEBAR MENU*/

	.menu-active #btnSideBar{
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
	}

}


@media only screen and (max-width: 380px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 300px;
		min-width: 200px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	/* MAIN PAGE */


	.tableNF{

		font-size: 0.6em;
	}



	/* SIDEBAR MENU */

	menu {

		width: 200px;


	}

	menu ul li a {
		font-size: 1em;
	}


	.menu-active #btnSideBar{
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}


}


@media only screen and (max-width: 300px) {
	/* for mobile */
	.grid {
		width: 100%;
		max-width: 250px;
		min-width: 100px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
		margin: 0 auto;
		overflow: hidden;
	}

	.grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding-top: 20px;
		padding-left: 20px; /* grid-space to left */
		padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
	}

	/* MAIN PAGE */

	.tableNF{

		font-size: 0.55em;
	}


	.tableNFCapaciteit{
		font-size: 0.55em;
		margin-bottom: 20px;
	}


	.tableNFCapaciteit th,
	.tableNFCapaciteit td{

		padding: 1px;
	}

	.tableNFCapaciteit tr td p {
		margin: 0px;
	}


	.tableHeadingCapaciteit{

		font-size: 0.6em;
	}




	/* SIDEBAR MENU */

	menu {

		width: 170px;
	}


	#maps{
		min-height: 200px;
	}

	.menu-active .page-wrap,
	.menu-active #footer {
		-webkit-transform: translateX(200px);
		-moz-transform: translateX(200px);
		-ms-transform: translateX(200px);
		transform: translateX(200px);
	}

	.menu-active #btnSideBar{
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		transform: translateX(0px);
	}


}

	/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */

.col-11-12 {
	width: 91.66%
}

.col-10-12 {
	width: 83.333%;
}

.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

/* Pushing blocks */

.push-2-3, .push-8-12 {
	margin-left: 66.66%;
}

.push-1-2, .push-6-12 {
	margin-left: 50%;
}

.push-1-3, .push-4-12 {
	margin-left: 33.33%;
}


.push-1-4, .push-3-12 {
	margin-left: 25%;
}

.push-1-5 {
	margin-left: 20%;
}

.push-1-6, .push-2-12 {
	margin-left: 16.667%;
}

.push-1-7 {
	margin-left: 14.28%;
}

.push-1-8 {
	margin-left: 12.5%;
}

.push-1-9 {
	margin-left: 11.1%;
}

.push-1-10 {
	margin-left: 10%;
}

.push-1-11 {
	margin-left: 9.09%;
}

.push-1-12 {
	margin-left: 8.33%
}



